<!-- Loop over each object in the projects array -->
{{#each trails }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/trail/{{trail_id}}"><b>{{trail_name}}</b></a>
    </h2>
    <p>
      <span for="img" aria-label="mountain">⛰️</span><b>
      <!-- Pass needed_funding value to the helper function -->
      
      out of 5 difficulty</b>
    </p>
     <p><i>Created by {{user.name}} on {{format_date createdAt}}</i></p>
  </div>
  <div class="col-md-7">
    <p>
      {{description}}
    </p>
  </div>
</div>
{{/each}}
