<div class="text-center">
  <h2>{{trail_name}}</h2>
  <h2> State {{state}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user_id}} on {{format_date createdAt}}</p>
  <p>
    <span for="img" aria-label="mountain"⛰️></span>
    <span id="difficulty">{{difficulty}}</span>
    out of 5 difficulty rating
   </span>
  </p>
  Trail mileage is <span id="length">{{length}}
  <p>
    
  </p>
</div>
